body {
	background-color: lightgray;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 1em;
}
button {
	width: 100px;
	height: 30px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
span {
	margin-left: 10px;
}
div {
	width: 250px;
}
#registracija {
	margin-left: 180px;
	font-size: 0.7em;
}
