.App {
  background-color: #282c34;
  min-height: 100vh;
}

.inner {
  display: flex;
  justify-content: center;
  gap: 1em;
  padding-top: 1em;
}

.aa {
  width: 3em;
}

.left {
  display: flex;
  font-size: 1.6em;
  gap: 1em;
  justify-content: center;
  width: 50%;
  padding: 1em;
  flex-wrap: wrap;
}

.right {
  padding: 1em;
  display: flex;
  font-size: 1.6em;
  justify-content: center;
  gap: 1em;
  width: 50%;
  flex-wrap: wrap;
}

button {
  font-size: 1em;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.inner2 {
  display: flex;
  justify-content: center;
  gap: 1em;
  padding-top: 1em;
  width: 100%;
  font-size: 2em;
  color: #eee;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
