.home {
  height: 80vh;
  background-image: url("/src/assets/girl.jpg");
  background-size: cover;
  position: relative;

}

.stvar {
  color: #e6ecec;
  border-radius: 1.5em;
  position: absolute;
  top: 40%;
  left: -1.5em;
  background-color: #f47422;
  padding: 1em 10em 1em 3.5em;
  font-size: 1.3em;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  letter-spacing: 0.1em;
}
