.team {
  background: #333;
  border-radius: 2em;
  margin: 1em;
  width: 97%;
}

.gore {
  padding: 0 5%;
  height: 7vh;
  display: grid;
  grid-template-columns: repeat(10, 9%);
}

button {
  height: 50%;
  margin-top: 10%;
}

.team span {
  margin: 0.5em;
}
