body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	position: relative;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	width: 100%;
	font-size: 1em;
	overflow: scroll;
}
.navbar {
	width: 100%;
	height: 8vh;
	position: fixed;
	background-color: #fff;
	z-index: 1;
}
.prvi {
	position: absolute;
	top: 10px;
	left: 2%;
	font-size: 2em;
	font-weight: bold;
}
.drugi {
	position: absolute;
	top: 4px;
	right: 3%;
	font-size: 1.3em;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.main {
	width: 100%;
	aspect-ratio: 4;
	display: flex;
	flex-direction: row;
	margin-top: 8vh;
}
.help {
	height: 100%;
	width: 50%;
	padding: 2.5%;
}
.help p {
	font-size: 1.3em;
	width: 80%;
	margin-left: 1em;
}
.help h1 {
	font-size: 2.3em;
}
.help h2 {
	font-size: 2.2em;
}
.helpme {
	height: 100%;
	width: 50%;
	padding: 2.5%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.helpme img {
	width: 90%;
	border-radius: 1em;
}
#brain {
	filter:saturate(3) sepia(0.9) hue-rotate(165deg);
}
.buttons {
	padding-left: 2em;
	margin-top: 10em;
	display: flex;
	gap: 1em;
}
button {
	padding: 0.7em;
	background-color: transparent;
	border: 0.2em solid #57b;
	border-radius: 0.3em;
	color: #57b;
	font-weight: bold;
	font-size: 1.2em;
}
button:hover {
	background-color: #57b;
	color: #fff;
}
.about {
	width: 100%;
	aspect-ratio: 4;
	display: flex;
	flex-direction: row;
}
.benefits {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.cards {
	margin-top: 3vh;
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}
.card {
	width: 20%;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}
.card p {
	margin-top: 0;
}
.card i {
	font-size: 2em;
	color: #57b;
	margin: 1em;
}
.benefits h3 {
	font-size: 2.5em;
}

@media only screen and (max-width:1200px) {
	body {
		font-size: 0.8em;
	}
}
@media only screen and (max-width:500px) {
	body {
		font-size: 0.7em;
	}
	.cards {
		flex-direction: column;
	}
	.card {
		flex-direction: row;
		width: 100%;
		padding: 2em;
	}
}
