header {
  height: 8vh;
  background-color: #003366;
  position: fixed;
  top: 0;
  width: 100%;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  z-index: 1;


  .left {
    font-size: 2em;
    position: absolute;
    left: 0;
    display: flex;
    height: 100%;
    padding-top: 1vh;

    img {
      height: 6vh;
    }
  }

  .right {
    position: absolute;
    right: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 4em;
    padding-right: 3em;
    height: 100%;

    span {
      font-size: 1.3em;
    }

    .vauu {
      color: #aaa;
      transition: color ease 200ms;
    }

    .vauu:hover {
      color: #fff;
      transition: color ease 200ms;
    }

    .aktivan .vauu {
      color: #fff;
    }
  }

  .mobajl {
    position: absolute;
    right: 0;
    height: 100%;

  }

  .cart {
    position: relative;
    color: #fff;
    font-size: 3vh;
  }

  .reddot {
    position: absolute;
    top: -0.5em;
    right: -1em;
    border-radius: 50%;
    height: 1.4em;
    width: 1.4em;
    font-size: 0.5em;
    text-align: center;
    color: #fff;
    background-color: #f00;
  }
}

a {
  text-decoration: none;
}
