header {
  height: 8vh;
  background-color: #003366;
  position: fixed;
  top: 0;
  width: 100%;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  z-index: 1;

  a {
    text-decoration: none;
  }

  .left {
    font-size: 2em;
    position: absolute;
    left: 0;
    width: 30%;
    display: flex;
    align-items: center;
    padding-left: 2em;
    height: 100%;

    img {
      height: 1.5em;
    }
  }

  .right {
    position: absolute;
    right: 0;
    width: 70%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 4em;
    padding-right: 3em;
    height: 100%;

    svg {
      font-size: 1.45em;
    }

    span {
      font-size: 1.3em;
    }

    .vauu {
      color: #aaa;
      transition: color ease 200ms;
    }

    .vauu:hover {
      color: #fff;
      transition: color ease 200ms;
    }

    .aktivan .vauu {
      color: #fff;
    }
  }

}
